/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
  /* BASE STYLES
  /*******************************************/

/******************************************
  /* LAYOUT
  /*******************************************/
header {
  display: flex;
  justify-content: space-between;
}
.achiel {
  background-image: url(https://cdn.pixabay.com/photo/2018/09/23/12/53/hair-3697414_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* footer {
} */
header + section {
  height: 500px;
  background-image: url(https://cdn.pixabay.com/photo/2017/01/03/09/18/woman-1948939_960_720.jpg);
  background-size: 100%;
  padding-top: 10%;
  padding-left: 10%;
  color: white;
}
header > img {
  height: 2rem;
  width: 3rem;
}
nav,
ul {
  flex-basis: 60%;
}
a > button {
  margin-top: 10%;
}
a > i {
  margin-top: 60%;
}

ul,
li {
  display: flex;
  justify-content: space-between;

  /* align-items: center; */
}
/* nav {
  /*   margin-left: 0.1rem; */
/* width: 100%;
  } */
*/ li > button {
  padding: 0%;
  width: 10rem;
  background-color: white;
  border: 0ch;
}
a {
  text-decoration: none;
  color: black;
}
h2 {
  font-size: x-small;
}
button + div {
  margin-top: 10%;
  height: 250px;
  width: 30%;
  background-color: black;
  padding: 2%;
}
.ariyo {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.ariyo div {
  width: 20%;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 5%;
}
.adek {
  background-color: #f2f4f7;
  height: 500px;
  padding: 10%;
}
iframe {
  float: right;
  border: 0px;
  width: 50%;
  height: 80%;
}
.angwen {
  display: flex;
  justify-content: space-evenly;
  padding: 10%;
}
.angwen button {
  width: 200px;
  background-color: black;
  color: white;
}
section.angwen div img {
  width: 80%;
}
section.angwen div button {
  background-color: black;
  color: white;
}
.abich {
  background-color: #f2f4f7;
  padding: 10%;
}
.abich img {
  float: right;
  height: 20rem;
  padding: 0%;
}
.mogik {
  padding: 10%;
  justify-content: center;
  align-items: center;
}
.mogik h1 {
  margin-left: 30%;
}
nav a:hover {
  border-bottom: 2px solid blue;
}
@media all and (max-width: 620px) {
  .achiel {
    height: 400px;
  }
  .ariyo {
    flex: none;
    width: 100%;
  }
}
@media all and (max-width: 480px) {
  .adek {
    height: 800px;
  }
  iframe {
    float: none;
    width: 100%;
    height: 500px;
  }
}
/* button {
    padding: 3px;
  } */
/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/ ;
